<div class="container">


    <!--showmessage alert for delete-->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br><br>
    <div align="center">
      <img  src="/assets/addstudent.png" style="height: 100px;">
  <br><br>
    <table class="table">
      <thead>
        <tr>
          <td align= "center" scope="col">NO.</td>
          <td align= "center" scope="col">STUDENT ID</td>
          <td align= "center" scope="col">STUDENT NAME</td>
          <td align= "center" scope="col">STUDENT EMAIL</td>
          <td align= "center" scope="col">STUDENT PHONE NUMBER</td>
          <td align= "center" scope="col">STUDENT INTAKE</td>
  
          <td scope="col"></td>
          <td scope="col"></td>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let us of listData'>
          <td align= "center"scope="row">{{us.id}}</td>
          <td align= "center">{{us.studentID}}</td>
          <td align= "center">{{us.studentName}}</td>
          <td align= "center">{{us.studentEmail}}</td>
          <td align= "center">{{us.studentPhone}}</td>
          <td align= "center">{{us.studentIntake}}</td>
  
          <td></td>
          <td>
  
            <button  (click)="deleteId(us.id)">REMOVE</button>
            &nbsp;
            <button [routerLink]="['/updatestudent', us.id]">EDIT🧑‍🎓</button>
          </td>
        </tr>
  
      </tbody>
    </table>
  
  </div>