<div id="outPopUp" class="">
    <div class="">
  
        <!--to show error alert-->
        <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
          <!--to show success alert-->
          <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <br><br>
          <div align="center">
            <img  src="/assets/addstudent.png" style="height: 100px;">
      <br><br>
        <form  [formGroup]="studentForm" >
          <div  class="col-lg-4 mx-auto" >
            <input type="text" class="form-control" formControlName="studentID" placeholder="Student ID">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="studentName" placeholder="Student Name">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="studentEmail" placeholder="Student Email">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="studentPhone" placeholder="Student Phone Number">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="studentIntake" placeholder="Student Intake">
          </div>
          <br>
          <div align="center" class="col-lg-15 mt-2" *ngIf="!getparamid">
      <button  (click)="studentSubmit()">Add Student</button>
          </div>
  
  
  
  
        </form>
  
      </div>
    </div>